p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

#FFP {
    text-align: center;
    background-color: aquamarine ;
}

body {
    padding: 10%;
}
  
#fran1 {
    background-color: aliceblue;
    font-size: large;
}

#Nothing {
    background-color: rgb(105, 217, 118);
}


#usr { 
    background-color: rgb(105, 217, 118);
    font-size: x-small;
}

nav {
    text-align: right;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: blue;
}